<!DOCTYPE html >
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Information of Bike Station</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
         width: 100%;
             height: 400px;
             background-color: grey;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <script>

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(53.3551, -6.2493),
          zoom: 13
        });


            var xmlhttp = new XMLHttpRequest();
            var url = "/bike5json/";
            xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

        //Parse the JSON data to a JavaScript variable.
                    var parsedObj = JSON.parse(xmlhttp.responseText);
        // This function is defined below and deals with the JSON data parsed from the file.
                displayInfo(parsedObj);
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();
        function displayInfo(obj){
            for(var i=0;i<obj.length;i++){
                var infoWindow = new google.maps.InfoWindow;
                var number = obj[i].number;
                var name = obj[i].name;
                var address = obj[i].address;
                var available_bikes = obj[i].available_bikes;
                var available_bike_stands = obj[i].available_bike_stands;
                var bike_stands = obj[i].bike_stands;
                var banking = obj[i].banking;
                var bonus = obj[i].bonus;
                var status = obj[i].status;
                var lat = obj[i].position.lat;
                var lng = obj[i].position.lng;
                var position = new google.maps.LatLng(parseFloat(lat),parseFloat(lng));

                var infowincontent = document.createElement('div');

                var strong = document.createElement('strong');
                strong.textContent = "Station no. " + number
                infowincontent.appendChild(strong);
                infowincontent.appendChild(document.createElement('br'));

                var text1 = document.createElement('text');
                text1.textContent = "Full address: " + address
                infowincontent.appendChild(text1);
                infowincontent.appendChild(document.createElement('br'));

                var text2 = document.createElement('text');
                text2.textContent = "Available bikes: " + available_bikes
                infowincontent.appendChild(text2);
                infowincontent.appendChild(document.createElement('br'));

                var text3 = document.createElement('text');
                text3.textContent = "Free stands: " + available_bike_stands
                infowincontent.appendChild(text3);
                infowincontent.appendChild(document.createElement('br'));

                var text4 = document.createElement('text');
                text4.textContent = "Total capacity: " + bike_stands
                infowincontent.appendChild(text4);
                infowincontent.appendChild(document.createElement('br'));

                var text5 = document.createElement('text');
                text5.textContent = "Banking: " + banking
                infowincontent.appendChild(text5);
                infowincontent.appendChild(document.createElement('br'));

                var text6 = document.createElement('text');
                text6.textContent = "Bonus: " + bonus
                infowincontent.appendChild(text6);
                infowincontent.appendChild(document.createElement('br'));

                var text7 = document.createElement('text');
                text7.textContent = "Status: " + status
                infowincontent.appendChild(text7);


                var marker = new google.maps.Marker({map: map,
                                                         position: position,
                                                         infowincontent: infowincontent});
                google.maps.event.addListener(marker, 'click', function() {
                    infoWindow.setContent(this.infowincontent);
                    infoWindow.open(map, this);
                });
            }
          }
        }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-JwqLtuvHobOKXLxrkkn4I5XcgbcB8AE&callback=initMap">
    </script>

      <div style="width: 100%; height: 40%;">
    <h1> Chart 1 </h1>
    <canvas id="myChart1"></canvas>
      </div>
    <h1> Chart 2</h1>
      <div style="width: 100%; height: 40%;">
    <canvas id="myChart2"></canvas>
      </div>
    <h3> Dublin Bike Station usage rate on Rain and Non-Rain days (RedColor: Rain, GreyColor: Non-Rain)</h3>
      <div style="width: 100%; height: 40%;">
    <canvas id="myChart"></canvas>
      </div>

    <div class="w3-container w3-teal">
        <h1>This is the forecast for Dublin Bike Stations</h1>
    </div>
    <p id="selection">This part of code will display 24hrs weather forecast. It takes data from JSON file and
      triggers using OnClick method</p>
    <form>
      </br>
        <button type ="button" onclick="changeSelection()" id="submitBtn">Click here to see weather</button>
      </br>
    </form>
    <div id="weatherId">   </div>   

    	<script src="/charts.js/"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <script>
    // chart1
    $.getJSON("/bike5json/", function (json) {
    var labels = json.map(function(item) {
      return item.name;
    });
    var availableBikes = json.map(function(item){
      return item.available_bikes;
    });
        // Find the top 10 stations;
    var isSwap;
    var temp1;
    var temp2;
    // sort
    for(var i=0; i< availableBikes.length;i++){
        isSwap = false;
        for (var j = 0; j< availableBikes.length - 1 - i;j++){
            if(availableBikes[j]<availableBikes[j+1]){
                isSwap = true;
                temp1 = availableBikes[j+1];
                availableBikes[j+1] = availableBikes[j];
                availableBikes[j] = temp1;
                temp2 = labels[j+1];
                labels[j+1] = labels[j];
                labels[j] = temp2;
            }
        }
        
    }
        
    var NewBikes = new Array(10);
    var NewLabels = new Array(10);
    for (var k = 0; k<10;k++){
        NewBikes[k] = availableBikes[k];
        NewLabels[k] = labels[k];
    }
 
    var data = {
      labels: NewLabels,
      datasets: [
      {
        label: "available bikes",
        fillColor: "rgba(10,87,105,0.5)",
        strokeColor: "rgba(151,187,205,0.8)",
        highlightFill: "rgba(151,187,205,0.75)",
        highlightStroke: "rgba(151,187,205,1)",
        data: NewBikes
      }
      ]
    };
    var options = {
        legend: { display: false },
        title: {
            display: true,
            text: 'Find the best 10 stations to take bikes '
        }
    };
    var ctx = document.getElementById("myChart1").getContext("2d");
    ctx.canvas.width = 1400;
    ctx.canvas.height = 300;

    var myChart1 = new Chart(ctx).Bar(data, {barShowStroke: true});
  });
    </script>
      
    <script>
      //chart2
    $.getJSON("/bike5json/", function (json) {
    var labels = json.map(function(item) {
      return item.name;
    });
    var availableBikes = json.map(function(item){
      return item.available_bike_stands;
    });
        // Find the top 10 stations;
    var isSwap;
    var temp1;
    var temp2;
    // sort
    for(var i=0; i< availableBikes.length;i++){
        isSwap = false;
        for (var j = 0; j< availableBikes.length - 1 - i;j++){
            if(availableBikes[j]<availableBikes[j+1]){
                isSwap = true;
                temp1 = availableBikes[j+1];
                availableBikes[j+1] = availableBikes[j];
                availableBikes[j] = temp1;
                temp2 = labels[j+1];
                labels[j+1] = labels[j];
                labels[j] = temp2;
            }
        }
        
    }
        
    var NewBikes = new Array(10);
    var NewLabels = new Array(10);
    for (var k = 0; k<10;k++){
        NewBikes[k] = availableBikes[k];
        NewLabels[k] = labels[k];
    }
 
    var data = {
      labels: NewLabels,
      datasets: [
      {
        label: "available bikes stands",
        fillColor: "rgba(10,87,105,0.5)",
        strokeColor: "rgba(151,187,205,0.8)",
        highlightFill: "rgba(151,187,205,0.75)",
        highlightStroke: "rgba(151,187,205,1)",
        data: NewBikes
      }
      ]
    };
    var options = {
        legend: { display: false },
        title: {
            display: true,
            text: 'Find the best 10 stations to return bikes '
        }
    };
    var ctx2 = document.getElementById("myChart2").getContext("2d");
    ctx2.canvas.width = 1400;
    ctx2.canvas.height = 300;

    var myChart2 = new Chart(ctx2).Bar(data, {barShowStroke: false});
  });    
      </script>
      <script>
  $.getJSON("/station_chart6/", function (json) {
  // will generate array with ['Monday', 'Tuesday', 'Wednesday']
  var labels = json.map(function(item) {
    return item.clock;
  });
  var Rate = json.map(function(item){
    return item.rate;
  });
  var RainRate = new Array(24);
  var nonRainRate = new Array(24);
  for (var i=0; i<Rate.length; i++){
      	RainRate[i] = Rate[i].Rain;
      	nonRainRate[i] = Rate[i].NonRain;
  }
  //document.write(RainRate[1], RainRate[2], RainRate[13], 000, Rate.length);
  //document.write(labels[0]);
  var data = {
    labels: labels,
    datasets: [
    {
      label: "Rain",
      //fillColor: "rgba(220,220,220,0.5)",
      fillColor: "rgba(255, 0, 0, 1)",
      strokeColor: "rgba(220,220,220,0.8)",
      highlightFill: "rgba(220,220,220,0.75)",
      highlightStroke: "rgba(220,220,220,1)",
      data: RainRate
    },
    {
      label: "NonRain",
      fillColor: "rgba(10,87,105,0.5)",
      highlightFill: "rgba(151,187,205,0.8)",
      highlightFill: "rgba(151,187,205,0.75)",
      highlightStroke: "rgba(151,187,205,1)",
      data: nonRainRate
    }
    ]
  };
  var options = {
      legend: { display: false },
      title: {
          display: true,
          text: 'One week bike usage calculations'
      }
  }
  var ctx = document.getElementById("myChart").getContext("2d");
  ctx.canvas.width = 1400;
  ctx.canvas.height = 300;

  var myChart = new Chart(ctx).Bar(data, {barShowStroke: false});
});
  </script>
  <script>   
    // Anna code
    // Global variables here
    //
    var weatherInfo  = "</br><table border = 1 >"; // global variable which correspond to main weather info 
    
    // Global variable which sets current date/time for filter.
    var currDate     = new Date("2018-03-12 05:00:00");  // new Date();
    var dispInt      = 8; // means 24hrs display interval. can be up to 40.
    
    //
    //  Function that loads JSON fie with main weather info
    //
    function loadJSON()
    {
        var xmlhttp = new XMLHttpRequest();
        var url = "/weatherjson/";

         xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

            //Parse the JSON data to a JavaScript variable. 
            window.parsedObj = JSON.parse(xmlhttp.responseText); 
            
            // This function is defined below and deals with the JSON data parsed from the file. 
            //   NOTE: for test "coord":{"lat":53.3551,"lon":-6.2493},
            displayWeather(parsedObj, dispInt, currDate, 53.3551, -6.2493); 
        }
    };

    xmlhttp.open("GET", url, true);
    xmlhttp.send();
    }
        
        
    // 
    // Here we display main weather info:
    //  obj - loaded JSON object
    //  displayInterval  (=8 by default for 24hrs) - how many weather records we want to display
    //  currDateTime      - curent date/time for weather filter
    //  currLat, currLon  - lattitude/longitude - for location filter
    //
    function displayWeather(obj, displayInterval, currDateTime, currLat, currLong) 
    { 
        var daysArray    = obj.list;
        var quotes       = "\"";
        var NumberOfDays = Math.min(displayInterval, daysArray.length);
        var currDateTimeUTC = Math.floor(currDateTime.getTime() / 1000) 
        var startOffset = 0;
        
        //console.log("number of days :", NumberOfDays);
        //console.log("date/UTC timestamp  :", currDateTime, currDateTimeUTC);
             
        for (var i=0; i< daysArray.length; i++) {
          if (daysArray[i].dt >= currDateTimeUTC) {
              break; }
            startOffset++;
        }
            
        // new data, something to display
        if (startOffset < daysArray.length)
        {
            if ( obj.city.coord.lat == currLat &&
                  obj.city.coord.lon == currLong )
            {

                // Main weather info - table header
                weatherInfo += "<tr>";    
                for (var i=0; i < NumberOfDays; i++) {  
                   weatherInfo += "<td>" + daysArray[i+startOffset].dt_txt + "</td>";

                }

                weatherInfo +="</tr><tr>";
                for (var i=0; i < NumberOfDays; i++) {
                  weatherInfo += "<td><img src=/../" + daysArray[i+startOffset].weather[0].icon + ".png width=64 height=64></img></td>"; 
                }

                weatherInfo +="</tr><tr>";
                for (var i=0; i < NumberOfDays; i++)  {
                   weatherInfo += "<td>" + daysArray[i+startOffset].weather[0].description + "</td>";
                }

                weatherInfo +="</tr><tr>";
                for (var i=0; i < NumberOfDays; i++) {   
                     weatherInfo += "<td>"+daysArray[i+startOffset].main.temp + "°C</td>";
                }

                weatherInfo +="</tr><tr>";

                for (var i=0; i < NumberOfDays; i++) {
                    weatherInfo += "<td>" + daysArray[i+startOffset].main.humidity + "%</td>";
                }
                weatherInfo +="</tr><tr>";

                for (var i=0; i < NumberOfDays; i++) {
                    weatherInfo +="<td>" + daysArray[i+startOffset].wind.speed + "km/h</td>"
                }
                weatherInfo +="</tr>";
            }
            else
            {
                weatherInfo +="<b>Undefined location lat:"+currLat+", lon:"+currLong+".</b>";    
            }
        }
        else // no new weather data..
        {
            weatherInfo +="<b>No current weather update</b>";
        }
        
        // Close the table element.
        weatherInfo += "</table>"; 
      
        // Finally, we constructed string. Lets assign it to actual HTML property
        document.getElementById("weatherId").innerHTML = weatherInfo;
    }
    </script>
 <script>
     //
     // This function triggers when user clicks submit button.
     //
    function changeSelection()
     {
        loadJSON();
        weatherInfo  = "</br><table border = 0 >";
    }        
</script>
      
  </body>
</html>
